<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuvakov.zetube.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.tuvakov.zetube.android.ZeTubeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.tuvakov.zetube.android.ui.feed.VideoFeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tuvakov.zetube.android.ui.player.PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:parentActivityName="com.tuvakov.zetube.android.ui.feed.VideoFeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tuvakov.zetube.android.ui.feed.VideoFeedActivity" />
        </activity>

        <activity
            android:name=".ui.channels.ChannelsActivity"
            android:parentActivityName=".ui.feed.VideoFeedActivity" />
    </application>

</manifest>